/**
 * 1. Fully reset fieldsets removing all default styling.
 */
fieldset {
  margin: 0; /* 1 */
  padding: 0; /* 1 */
  border: none; /* 1 */
}

/**
 * 1. Fully reset lengends removing all default styling.
 * 2. On Android Chrome browser lengends don't expand to 100%, so we fix that.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 1 */
  width: 100%; /* 2 */
}

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
input:not([type="checkbox"]):not([type="radio"]),
optgroup,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

/**
 * 1. Remove border-radius in Safari.
 * 2. Remove glossy background in Safari.
 *
 *    Note that this also removes the dropdown arrow in Safari, which isn't
 *    ideal but there is little we can do about it.
 */
select {
  border-radius: 0; /* 1 */
  -webkit-appearance: none; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11 (from normalize.css).
 */
textarea {
  overflow: auto;
}

/**
 * 1. Address `overflow` set to `hidden` in IE 8/9/10/11 (from normalize.css).
 */
button {
  overflow: visible; /* 1 */
}

/**
 * 1. Address inconsistent `text-transform` inheritance for `button` and
 *    `select`. All other form control elements do not inherit `text-transform`
 *    values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and
 *    Opera. Correct `select` style inheritance in Firefox
 *    (from normalize.css).
 */
button,
select {
  text-transform: none; /* 1 */
}

/**
 * 1. Remove inner padding and border in Firefox 4+ (from normalize.css).
 */
button,
input {
  &::-moz-focus-inner {
    border: 0; /* 1 */
    padding: 0; /* 1 */
  }
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  text-align: left;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * Checkboxes and radio inputs are not styleable in most browsers unfortunately,
 * so we have to treat them as a special case.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10 (from normalize.css).
 * 2. Remove excess padding in IE 8/9/10 (from normalize.css).
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: auto;
  }
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome which is
 *    unstylable (from normalize.css).
 * 2. Remove inner padding and search cancel button in Safari and Chrome on
 *    OS X. Safari (but not Chrome) clips the cancel button when the search
 *    input has padding (and `textfield` appearance) (from normalize.css).
 *
 *    Ideally we'd like to support the native cancel button, but unfortunately
 *    safar
 *
 */
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none; /* 2 */
  }
}

/**
 * 1. Update input placeholders to inherit color (IE, Chrome and Safari) and
 *    opacity (Firefox).
 *
 *    Note: On Firefox number inputs do not respect placeholder styling. This is
 *    a known bug (https://bugzilla.mozilla.org/show_bug.cgi?id=1004130) with no
 *    workaround :(.
 */
::-webkit-input-placeholder {
  color: inherit; /* 1 */
}
::-moz-placeholder {
  opacity: inherit; /* 1 */
}
:-ms-input-placeholder {
  color: inherit; /* 1 */
};
