/**
 * 1. Fully reset link styling.
 * 2. Remove gray background color from active links in IE 10
 *    (from normalize.css).
 */
a {
  color: inherit; /* 1 */
  text-decoration: none; /* 1 */
  background-color: transparent; /* 2 */

  &:link, &:active, &:visited {
    color: inherit; /* 1 */
  }
}
